.call-to-action-C61RwL {
  background-color: transparent;
  height: 498px;
  left: calc(50.00% - 510px);
  position: absolute;
  top: 4315px;
  width: 1018px;
}
.frame-13-FKTSyb {
  background-color: transparent;
  height: 212px;
  left: 0px;
  position: absolute;
  top: 80px;
  width: 318px;
}
.frame-14-bnMbaO {
  background-color: transparent;
  height: 39px;
  left: 74px;
  position: absolute;
  top: 322px;
  width: 242px;
}
.frame-15-5kCSFS {
  background-color: transparent;
  height: 361px;
  left: 354px;
  position: relative;
  top: 70px;
  width: 316px;
}
.frame-16-LJ2pJr {
  background-color: transparent;
  background-image: url(/img/frame-16@1x.png);
  background-size: 100% 100%;
  height: 501px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1023px;
}
.lorem-ipsu-quyam-erat-3qRedS {
  background-color: transparent;
  height: 46.70%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24.8px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 100%;
}
.lorem-ipsu-quyam-erat-jhkzLy {
  background-color: transparent;
  height: 46.23%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24.8px;
  position: absolute;
  text-align: left;
  top: 53.77%;
  width: 94.03%;
}
.text-area-cta-bnMbaO {
  background-color: transparent;
  height: 80.89%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.this-is-a--2-headline-FKTSyb {
  background-color: transparent;
  color: var(--brilliant-rose);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  height: 17.12%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 49.5px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 100%;
}
