.background-color-C61RwL {
  background-color: var(--carnation-pink);
  height: 700px;
  left: calc(50.00% - 512px);
  position: absolute;
  top: -1px;
  width: 1023px;
}
.background-image-C61RwL {
  background-color: transparent;
  height: 700px;
  left: calc(50.00% - 512px);
  position: absolute;
  top: -1px;
  width: 1022px;
}
.banner-blue-C61RwL {
  background-color: transparent;
  height: 30.07%;
  left: -12px;
  position: absolute;
  top: 27.38%;
  width: calc(100.00% + 35px);
}
.banner-pink-C61RwL {
  background-color: transparent;
  height: 30.05%;
  left: -12px;
  position: absolute;
  top: 27.38%;
  width: calc(100.00% + 35px);
}
.card-css-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);;
  backdrop-filter: blur(30px) brightness(100%);;
  background-color: transparent;
  height: 204px;
  left: 50.00%;
  position: absolute;
  top: 3348px;
  width: 175px;
}
.card-figma-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);;
  backdrop-filter: blur(30px) brightness(100%);;
  background-color: transparent;
  height: 200px;
  left: 50.00%;
  position: absolute;
  top: 3160px;
  width: 177px;
}
.card-html-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);;
  backdrop-filter: blur(30px) brightness(100%);;
  background-color: transparent;
  height: 204px;
  left: calc(50.00% - 168px);
  position: absolute;
  top: 3348px;
  width: 175px;
}
.card-kpi-1234-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);;
  backdrop-filter: blur(30px) brightness(100%);;
  background-color: transparent;
  height: 456px;
  left: calc(50.00% - 168px);
  position: absolute;
  top: 2305px;
  width: 345px;
}
.card-kpi-125-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);;
  backdrop-filter: blur(30px) brightness(100%);;
  background-color: transparent;
  height: 422px;
  left: calc(50.00% - 168px);
  position: absolute;
  top: 1423px;
  width: 345px;
}
.card-kpi-7-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);;
  backdrop-filter: blur(30px) brightness(100%);;
  background-color: transparent;
  height: 456px;
  left: calc(50.00% - 168px);
  position: absolute;
  top: 1847px;
  width: 345px;
}
.card-react-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);;
  backdrop-filter: blur(30px) brightness(100%);;
  background-color: transparent;
  height: 202px;
  left: calc(50.00% - 168px);
  position: absolute;
  top: 3543px;
  width: 177px;
}
.card-sketch-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);;
  backdrop-filter: blur(30px) brightness(100%);;
  background-color: transparent;
  height: 195px;
  left: calc(50.00% - 166px);
  position: absolute;
  top: 3160px;
  width: 177px;
}
.card-vue-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);;
  backdrop-filter: blur(30px) brightness(100%);;
  background-color: transparent;
  height: 202px;
  left: 50.00%;
  position: absolute;
  top: 3543px;
  width: 177px;
}
.carnation-pink-border-2px {
  border: 2px solid var(--carnation-pink);
}
.e-mail-adresse-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: calc(50.00% - 158px);
  letter-spacing: 0.00px;
  line-height: 34.1px;
  position: absolute;
  text-align: left;
  top: 4151px;
  white-space: nowrap;
  width: auto;
}
.footer-C61RwL {
  background-color: var(--mine-shaft);
  height: 2.07%;
  left: 0px;
  position: absolute;
  top: 97.93%;
  width: calc(100.00% + 2px);
}
.glassmorph-m-circle-1-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);;
  backdrop-filter: blur(30px) brightness(100%);;
  background-color: transparent;
  height: 312px;
  left: calc(50.00% - 161px);
  position: absolute;
  top: 37px;
  width: 312px;
}
.glassmorph-m-circle-2-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);;
  backdrop-filter: blur(30px) brightness(100%);;
  background-color: transparent;
  height: 143px;
  left: calc(50.00% + 42px);
  position: absolute;
  top: 206px;
  width: 142px;
}
.glassmorph-m-circle-3-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);;
  backdrop-filter: blur(30px) brightness(100%);;
  background-color: transparent;
  height: 117px;
  left: calc(50.00% - 6px);
  position: absolute;
  top: 273px;
  width: 118px;
}
.h1-divider-C61RwL {
  background-color: transparent;
  height: 3px;
  left: calc(50.00% - 159px);
  position: absolute;
  top: 476px;
  width: 78px;
}
.h2-divider-C61RwL {
  background-color: transparent;
  height: 3px;
  left: calc(50.00% - 158px);
  position: absolute;
  top: 3926px;
  width: 90px;
}
.h2-divider-QxM5SU {
  background-color: transparent;
  height: 3px;
  left: calc(50.00% - 158px);
  position: absolute;
  top: 800px;
  width: 90px;
}
.h2-divider-VMr6Om {
  background-color: transparent;
  height: 3px;
  left: calc(50.00% - 158px);
  position: absolute;
  top: 2944px;
  width: 90px;
}
.h2-divider-mzXdH9 {
  background-color: transparent;
  height: 3px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 1202px;
  width: 90px;
}
.habe-ich-d-eeindruckt-C61RwL {
  background-color: transparent;
  height: 100px;
  left: calc(50.00% - 158px);
  letter-spacing: 0.00px;
  line-height: 49.5px;
  position: absolute;
  text-align: left;
  top: 3812px;
  width: 317px;
}
.ich-bin-webdesigner-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: calc(50.00% - 158px);
  letter-spacing: 0.00px;
  line-height: 52.3px;
  position: absolute;
  text-align: left;
  top: 358px;
  width: 317px;
}
.infomaxmustermanncom-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Jost-Regular', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: calc(50.00% - 156px);
  letter-spacing: 0.00px;
  line-height: 27.9px;
  position: absolute;
  text-align: center;
  top: 4196px;
  white-space: nowrap;
  width: auto;
}
.iphone-8-1 {
  background-color: var(--desert-storm);
  height: 100vh;
  margin: 0px;
  min-height: 4918px;
  min-width: 375px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.jost-bold-carnation-pink-16px {
  color: var(--carnation-pink);
  font-family: "Jost", Helvetica, Arial, serif;
  font-size: 16px;
}
.jost-bold-white-16px {
  color: var(--white);
  font-family: 'Jost-Bold', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.jost-regular-normal-black-20px {
  color: var(--black);
  font-family: 'Jost-Regular', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.jost-regular-normal-mine-shaft-14px {
  color: var(--mine-shaft);
  font-family: 'Jost-Regular', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.jost-regular-normal-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: 'Jost-Regular', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.jost-regular-normal-white-16px {
  color: var(--white);
  font-family: 'Jost-Regular', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.kenntnisse-C61RwL {
  background-color: transparent;
  height: 50px;
  left: calc(50.00% - 158px);
  letter-spacing: 0.00px;
  line-height: 49.5px;
  position: absolute;
  text-align: left;
  top: 2881px;
  white-space: nowrap;
  width: 317px;
}
.link-styling-C61RwL {
  background-color: transparent;
  height: 3px;
  left: calc(50.00% - 156px);
  position: absolute;
  top: 4120px;
  width: 120px;
}
.link-styling-VMr6Om {
  background-color: transparent;
  height: 3px;
  left: calc(50.00% - 156px);
  position: absolute;
  top: 4226px;
  width: 204px;
}
.lorem-ipsu--gubergren-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 158px);
  letter-spacing: 0.00px;
  line-height: 21.7px;
  position: absolute;
  text-align: left;
  top: 1234px;
  width: 316px;
}
.lorem-ipsu--gubergren-VMr6Om {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 156px);
  letter-spacing: 0.00px;
  line-height: 21.7px;
  position: absolute;
  text-align: left;
  top: 831px;
  width: 316px;
}
.lorem-ipsu-m-voluptua-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Jost-Regular', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: calc(50.00% - 158px);
  letter-spacing: 0.00px;
  line-height: 27.9px;
  position: absolute;
  text-align: left;
  top: 507px;
  width: 317px;
}
.lorem-ipsu-mod-tempor-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 156px);
  letter-spacing: 0.00px;
  line-height: 21.7px;
  position: absolute;
  text-align: left;
  top: 3957px;
  width: 316px;
}
.lorem-ipsu-r-sit-amet-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 158px);
  letter-spacing: 0.00px;
  line-height: 21.7px;
  position: absolute;
  text-align: left;
  top: 2976px;
  width: 316px;
}
.meine-arbe--in-zahlen-C61RwL {
  background-color: transparent;
  height: 100px;
  left: calc(50.00% - 160px);
  letter-spacing: 0.00px;
  line-height: 49.5px;
  position: absolute;
  text-align: left;
  top: 1089px;
  width: 317px;
}
.meine-philosphie-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 158px);
  letter-spacing: 0.00px;
  line-height: 49.5px;
  position: absolute;
  text-align: left;
  top: 736px;
  white-space: nowrap;
  width: 323px;
}
.mine-shaft-border-2px {
  border: 2px solid var(--mine-shaft);
}
.mouse-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 27px;
  left: calc(50.00% - 12px);
  position: absolute;
  top: 686px;
  width: 16px;
}
.mouse-whitespace-C61RwL {
  background-color: transparent;
  height: 74px;
  left: calc(50.00% - 40px);
  position: absolute;
  top: 662px;
  width: 70px;
}
.persona-C61RwL {
  background-color: transparent;
  height: 257px;
  left: calc(50.00% - 139px);
  position: absolute;
  top: 58px;
  width: 257px;
}
.poppins-bold-carnation-pink-32px {
  color: var(--carnation-pink);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.poppins-bold-carnation-pink-36px {
  color: var(--carnation-pink);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
.poppins-semi-bold-black-24px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.scrolling-C61RwL {
  background-color: transparent;
  height: 5px;
  left: calc(50.00% - 7px);
  position: absolute;
  top: 692px;
  width: 2px;
}
.shadow-10-C61RwL {
  background-color: transparent;
  height: 243px;
  left: calc(50.00% - 46px);
  position: absolute;
  top: 3516px;
  width: 243px;
}
.shadow-5-C61RwL {
  background-color: transparent;
  height: 243px;
  left: calc(50.00% - 206px);
  position: absolute;
  top: 3130px;
  width: 243px;
}
.shadow-6-C61RwL {
  background-color: transparent;
  height: 243px;
  left: calc(50.00% - 46px);
  position: absolute;
  top: 3130px;
  width: 243px;
}
.shadow-7-C61RwL {
  background-color: transparent;
  height: 243px;
  left: calc(50.00% - 206px);
  position: absolute;
  top: 3316px;
  width: 243px;
}
.shadow-8-C61RwL {
  background-color: transparent;
  height: 243px;
  left: calc(50.00% - 46px);
  position: absolute;
  top: 3316px;
  width: 243px;
}
.shadow-9-C61RwL {
  background-color: transparent;
  height: 243px;
  left: calc(50.00% - 206px);
  position: absolute;
  top: 3516px;
  width: 243px;
}
.telefonnummer-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: calc(50.00% - 156px);
  letter-spacing: 0.00px;
  line-height: 34.1px;
  position: absolute;
  text-align: left;
  top: 4045px;
  white-space: nowrap;
  width: auto;
}
.x0012-3456789-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Jost-Regular', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: calc(50.00% - 156px);
  letter-spacing: 0.00px;
  line-height: 27.9px;
  position: absolute;
  text-align: center;
  top: 4090px;
  white-space: nowrap;
  width: auto;
}
:root {
  --black: rgba(0,0,0,1.0);
  --brilliant-rose: rgba(242,92,162,1.0);
  --carnation-pink: rgba(3,28,166,1.0);
  --desert-storm: rgba(248,248,248,1.0);
  --mine-shaft: rgba(51,51,51,1.0);
  --white: rgba(255,255,255,1.0);
}
