.button-primary-C61RwL {
  background-color: var(--carnation-pink);
  border-radius: 3px;
  height: 39px;
  left: calc(50.00% - 158px);
  position: absolute;
  top: 962px;
  width: 110px;
}
.this-is-text-Jw1J1D {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}
