.call-to-action-C61RwL {
  background-color: transparent;
  height: 250px;
  left: calc(50.00% - 720px);
  position: absolute;
  top: 3464px;
  width: 1440px;
}
.cta-background-LJ2pJr {
  background-color: transparent;
  height: 100%;
  left: -432px;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 864px);
}
.lorem-ipsu-quyam-erat-Icuk3e {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 179px);
  letter-spacing: 0.00px;
  line-height: 24.8px;
  position: absolute;
  text-align: left;
  top: 124px;
  width: 359px;
}
.lorem-ipsu-quyam-erat-LJ2pJr {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 577px);
  letter-spacing: 0.00px;
  line-height: 24.8px;
  position: absolute;
  text-align: left;
  top: 124px;
  width: 359px;
}
.this-is-a--2-headline-LJ2pJr {
  background-color: transparent;
  color: var(--brilliant-rose);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: calc(50.00% - 576px);
  letter-spacing: 0.00px;
  line-height: 55.7px;
  position: absolute;
  text-align: left;
  top: 42px;
  white-space: nowrap;
  width: 428px;
}
