.button-secondary-LJ2pJr {
  background-color: transparent;
  border-radius: 3px;
  height: 15.60%;
  left: 70.63%;
  pointer-events: auto;
  position: absolute;
  top: 73.60%;
  transition: all 0.2s ease;
  width: 11.22%;
}
.button-secondary-LJ2pJr:hover {

transform: scale(1.1);
}
.ipad-pro-129-1 .span1-I4mnVW {
  color: rgba(3,28,166,1.0);
  font-family: 'Jost-Bold', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.ipad-pro-129-1 .span2-I4mnVW {
  color: rgba(3,28,166,1.0);
  font-family: 'Jost-Bold', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.80px;
}
.this-is-text-PxQnxq {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}
