.button-primary-LJ2pJr {
  background-color: var(--carnation-pink);
  border-radius: 3px;
  height: 15.60%;
  left: 83.80%;
  pointer-events: auto;
  position: absolute;
  top: 73.60%;
  transition: all 0.2s ease;
  width: 10.73%;
}
.button-primary-LJ2pJr:hover {

transform: scale(1.1);
}
.this-is-text-7JM8KK {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}
