.call-to-action-C61RwL {
  background-color: transparent;
  height: 250px;
  left: calc(50.00% - 513px);
  position: absolute;
  top: 3255px;
  width: 1025px;
}
.cta-background-LJ2pJr {
  background-color: transparent;
  height: 110.40%;
  left: -20.20%;
  position: absolute;
  top: 0px;
  width: 140.39%;
}
.lorem-ipsu-quyam-erat-Icuk3e {
  background-color: transparent;
  height: 39.60%;
  left: 36.39%;
  letter-spacing: 0.00px;
  line-height: 24.8px;
  position: absolute;
  text-align: left;
  top: 49.60%;
  width: 28.00%;
}
.lorem-ipsu-quyam-erat-LJ2pJr {
  background-color: transparent;
  height: 39.60%;
  left: 6.15%;
  letter-spacing: 0.00px;
  line-height: 24.8px;
  position: absolute;
  text-align: left;
  top: 49.60%;
  width: 28.20%;
}
.this-is-a--2-headline-LJ2pJr {
  background-color: transparent;
  color: var(--brilliant-rose);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  height: 22.40%;
  left: 6.15%;
  letter-spacing: 0.00px;
  line-height: 55.7px;
  position: absolute;
  text-align: left;
  top: 16.80%;
  white-space: nowrap;
  width: 37.95%;
}
